@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner/point.jpg" width="100%" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/Facebook.jpg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/aztec.jpeg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/Stallman debate.jpg" width="100%" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/Holy.jpg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/McDonald.jpg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/tree.jpeg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/cloud.jpg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner/love.jpg" width="100%" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>

    </div>
</div>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Welcome')" id="defaultOpen">Welcome</button>
    <button class="tablinks" onclick="openCity(event, 'Charter')">Charter</button>
    <button class="tablinks" onclick="openCity(event, 'Rules')">Rules</button>
    <button class="tablinks" onclick="openCity(event, 'Loot')">Loot Distribution</button>
    <button class="tablinks" onclick="openCity(event, 'Addons')">Addons</button>
    <button class="tablinks" onclick="openCity(event, 'Recruitment')">Recruitment</button>
</div>
<!-- Tab content -->
<div id="Welcome" class="tabcontent">
    <h3>Welcome!</h3>
    <p>
        Our vision: Be a guild that values loyalty, community, friendships and “fun” more than “progression” or "competition." We don't know if we will make it to level 60 or how Blizzard will develop Classic WoW. We might get to level 10 and get bored, or we might get obsessed and attempt to get world firsts! (Probably won't happen).

        However, we plan to participate in this grand adventure and see where we end up. Progression may not be the primary focus of this guild right now, but it could be! This depends upon the coming weeks and months and how we grow as a community. 
    </p>
</div>

<div id="Charter" class="tabcontent">
    <h3>Charter</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Rules" class="tabcontent">
    <h3>Rules</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Loot" class="tabcontent">
    <h3>Loot Distribution</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Addons" class="tabcontent">
    <h3>Required Addons</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Recruitment" class="tabcontent">
    <h3>Recruitment</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

