@model GnuPlusLinux.Models.Home.IndexViewModel

@{
    ViewData["Title"] = Model.title;
}

    <section class="hero">
        <div class="hero-inner">
            <h1>GNU Plus Linux</h1>
            <h2>The GNU World Order!</h2>
            <a asp-area="" asp-controller="Home" asp-action="Information" class="btn">Get Started</a>
        </div>
    </section>