@model GnuPlusLinux.Models.Home.LoginViewModel

@{
    ViewData["Title"] = Model.title;
}

<link rel="stylesheet" href="~/css/Login.css" />
<div class="container">
    <div id="login-form">
        <div class="row">
            <div class="col-lg-7">
                <form>
                    <h3 class="login-header">Login</h3>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username or Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Remember me
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block submit">Login</button>

                    <div class="row">
                        <div class="col text-center ">
                            <a class="register" href="#">register now</a>
                        </div>
                        <div class="col text-center">
                            <a href="#" class="forgot-pass">forgot password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <button class="btn btn-block social-login facebook ">
                    <span class="social-icons">
                        <i class="fab fa-facebook-square fa-lg">
                        </i>
                    </span>
                    <span class="align-middle">Login with Facebook</span>
                </button>
                <button class="btn btn-block social-login google">
                    <span class="social-icons">
                        <i class="fab fa-google fa-lg">
                        </i>
                    </span>
                    <span class="align-middle">Login with Google</span>
                </button>
                <button class="btn btn-block social-login github">
                    <span class="social-icons">
                        <i class="fab fa-github fa-lg">
                        </i>
                    </span>Login with Github
                </button>
            </div>
        </div>
    </div>
</div>