@model  GnuPlusLinux.Models.Home.RegistrationViewModel

@{
    ViewData["Title"] = Model.title;
}

<link rel="stylesheet" href="~/css/Registration.css" />
<div id="info">
    <div id="login-box">
        <div class="left">
            <h1>Registration</h1>

            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password2" placeholder="Retype password" />

            <div class="form-group">
                <fieldset>
                    <label class="control-label" for="readOnlyInput">Character Name</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <label class="control-label" for="readOnlyInput">WoW Armory Link</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
                </fieldset>
            </div>


            <input type="submit" name="signup_submit" value="Sign me up" />
        </div>

        <div class="right">
            <span class="loginwith">Sign in with<br />social network</span>

            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google+</button>
        </div>
        <div class="or">OR</div>
    </div>

    <div id="info-content">
    </div>
</div>