@{
    ViewData["Title"] = "About";
}

<body>
    <link rel="stylesheet" href="~/css/Registration.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <div id="wrapper">
        <div id="info">

            <div id="login-box">
                <div class="left">
                    <h1>Registration</h1>

                    <input type="text" name="username" placeholder="Username" />
                    <input type="text" name="email" placeholder="E-mail" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="password" name="password2" placeholder="Retype password" />

                    <div class="form-group">
                        <fieldset>
                            <label class="control-label" for="readOnlyInput">Character Name</label>
                            <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label" for="readOnlyInput">WoW Armory Link</label>
                            <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
                        </fieldset>
                    </div>


                    <input type="submit" name="signup_submit" value="Sign me up" />
                </div>

                <div class="right">
                    <span class="loginwith">Sign in with<br />social network</span>

                    <button class="social-signin facebook">Log in with facebook</button>
                    <button class="social-signin twitter">Log in with Twitter</button>
                    <button class="social-signin google">Log in with Google+</button>
                </div>
                <div class="or">OR</div>
            </div>

            <div id="info-content">
            </div>
        </div>




        <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
        <div class="menu">
            <label class="menu-toggle" for="menu"><span>Toggle</span></label>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Information">Information</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Registration">Registration</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                </li>
            </ul>
        </div>
    </div><!-- #wrapper -->
</body>


