/****************************
 **** General and Resets ****
 ****************************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: url('../images/HeroImage/HeroPoint.jpg') 50% 50%/cover;
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    width: 100%;
}

p {
    margin-bottom: 15px;
}


/*************************
 **** Site Background ****
 *************************/

#site-wrapper {
    height: 100%;
    width: 100%;
}

.hero {
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

    .hero h1 {
        font-size: 5em;
        margin-bottom: 0.5em;
        margin-top: 0;
    }


    .hero .btn {
        background-color: rgba(147, 112, 219, 0.8);
        border: 3px solid white;
        border-radius: 20px;
        color: white;
        display: block;
        font-size: 1.5em;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-decoration: none;
        width: 200px;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/************************
 **** Nav / Menu Bar ****
 ************************/

label.menu-toggle {
    cursor: pointer;
}

.menu {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(-240px, 0, 0);
    transition: transform 0.35s;
    width: 240px;
}

    .menu label.menu-toggle {
        background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
        display: block;
        height: 60px;
        line-height: 0px;
        padding: 0;
        position: absolute;
        right: -60px;
        text-indent: -9999px;
        width: 60px;
    }

    .menu ul li > label {
        background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
    }

    .menu ul li a, .menu ul li label {
        color: #000;
        display: block;
        line-height: 60px;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
    }

        .menu ul li a:hover, .menu ul li label:hover {
            color: #666;
        }

/* hide inputs */
.menu-checkbox {
    display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
    background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
    transform: translate3d(0, 0, 0);
}

/******************
 **** Info Box ****
 ******************/

#info {
    display: table;
    height: 100%;
    margin-left: auto;
    padding-left: 125px;
    padding-right: 125px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

    #info #info-content {
        color: #000000;
        display: table-cell;
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
    }

        #info #info-content h1 {
            background: rgba(0, 0, 0, 0.3);
            border: 3px solid #fff;
            color: #fff;
            display: inline-block;
            font-size: 22px;
            font-weight: normal;
            margin: 10px;
            padding: 20px;
            text-align: left;
        }

            #info #info-content h1 strong {
                display: block;
                font-size: 26px;
            }
